header{
    text-align: center;
}

.section-img-header{
    border-image: stretch;
    display: flex;
}

.section-descricao{
    text-align: center;
}

.section-formulario{
    text-align: center;
}

footer{
    text-align: center;
}